@font-face {
    src : url("../font/Oswald-Regular.ttf");
}

@font-face {
    src : url("../font/Oswald-Bold.ttf");
}

* {
    FOREGROUND      : #FFFFFF;
    GRADIENT_DARK   : linear-gradient(to top right, PRIMARY_DARK, SECONDARY_DARK);
    GRADIENT_LIGHT  : linear-gradient(to top right, PRIMARY_LIGHT, SECONDARY_LIGHT);
    PRIMARY_DARK    : #00D755;
    PRIMARY_LIGHT   : #00FF64;
    SECONDARY_DARK  : #00A3D7;
    SECONDARY_LIGHT : #00C2FF;
}

.label {
    -fx-font-family : Oswald;
    -fx-font-size   : 16px;
}

.menu-button {
    -fx-background-color : GRADIENT_DARK;
}

.menu-button:hover,
.menu-button:showing {
    -fx-background-color : GRADIENT_LIGHT;
}

.menu-button .arrow-button .arrow {
    -fx-background-color : FOREGROUND;
}

.menu-button .context-menu {
    -fx-background-radius : 5px;

    -fx-border-color      : GRADIENT_LIGHT;
    -fx-border-radius     : 5px;
    -fx-border-width      : 2px;
}

.menu-button .label {
    -fx-font-size : 20px;

    -fx-text-fill : FOREGROUND;
}

.menu-button .menu-item:focused {
    -fx-background-color  : GRADIENT_LIGHT;
    -fx-background-radius : 5px;
}

.menu-button .menu-item .accelerator-text {
    -fx-padding : 0px 0px 0px 30px;
}

.menu-button .menu-item .label {
    -fx-font-size : 16px;

    -fx-text-fill : GRADIENT_DARK;
}

.menu-button .menu-item:focused .label {
    -fx-text-fill : FOREGROUND;
}

.progress-bar {
    -fx-indeterminate-bar-animation-time : 2;
    -fx-indeterminate-bar-flip           : false;
}

.progress-bar .bar {
    -fx-background-color  : GRADIENT_LIGHT;
    -fx-background-radius : 10px;
}

.progress-bar .track {
    -fx-background-radius : 10px;

    -fx-border-color      : GRADIENT_LIGHT;
    -fx-border-radius     : 10px;
}

.radio-button {
    -fx-font-family : Oswald;
    -fx-font-size   : 16px;
}

.radio-button:hover,
.radio-button:selected {
    -fx-text-fill : GRADIENT_DARK;
}

.radio-button:selected .dot {
    -fx-background-color  : GRADIENT_LIGHT;
    -fx-background-insets : 0px;
}

.radio-button:hover .radio,
.radio-button:selected .radio {
    -fx-border-color  : GRADIENT_LIGHT;
    -fx-border-insets : -1px;
    -fx-border-radius : 100px;
}

.spinner {
    -fx-font-family : Oswald;
    -fx-font-size   : 16px;
}

.spinner:focused {
    -fx-border-color  : GRADIENT_LIGHT;
    -fx-border-insets : -1px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color : GRADIENT_DARK;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color : GRADIENT_LIGHT;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color : FOREGROUND;
}

.table-view:focused {
    -fx-border-color  : GRADIENT_LIGHT;
    -fx-border-insets : -1px;
}

.table-view .column-header {
    -fx-background-color : GRADIENT_DARK;
}

.table-view:focused .column-header {
    -fx-background-color : GRADIENT_LIGHT;
}

.table-view .column-header .arrow {
    -fx-background-color : FOREGROUND;
}

.table-view .column-header .label {
    -fx-text-fill : FOREGROUND;
}

.table-view:focused .label {
    -fx-text-fill : GRADIENT_DARK;
}

.table-view .table-row-cell {
    -fx-font-family : Oswald;
    -fx-font-size   : 16px;
}

.table-view .table-row-cell:selected {
    -fx-background-color : GRADIENT_DARK;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color : GRADIENT_LIGHT;
}

.titled-pane .content {
    -fx-background-color : FOREGROUND;
}

.titled-pane .title {
    -fx-background-color : GRADIENT_DARK;
}

.titled-pane:focused .title {
    -fx-background-color : GRADIENT_LIGHT;
}

.titled-pane .title .text {
    -fx-fill        : FOREGROUND;

    -fx-font-family : Oswald;
    -fx-font-size   : 16px;
}

.tooltip {
    -fx-background-color  : #000000;
    -fx-background-radius : 6px;

    -fx-border-color      : GRADIENT_LIGHT;
    -fx-border-radius     : 5px;
    -fx-border-width      : 2px;

    -fx-font-family       : Oswald;

    -fx-font-size         : 16px;
    -fx-text-fill         : FOREGROUND;
}
