@font-face {
    -fx-font-family: Oswald;
    src: url("../font/Oswald-Regular.ttf");
}

@font-face {
    -fx-font-family: Oswald;
    src: url("../font/Oswald-Bold.ttf");
}

/*
Dark colors
    green: #00d755
     blue: #00a3d7
    linear-gradient(to top right, #00d755, #00a3d7)

Light colors
    green: #00ff64
     blue: #00c2ff
    linear-gradient(to top right, #00ff64, #00c2ff)
*/

.label {
    -fx-font-family: Oswald;
    -fx-font-size: 16px;
}

.menu-button {
    -fx-background-color: linear-gradient(to top right, #00d755, #00a3d7);
}

.menu-button:hover,
.menu-button:showing {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
}

.menu-button .arrow-button .arrow {
    -fx-background-color: white;
}

.menu-button .context-menu {
    -fx-background-radius: 5px;

    -fx-border-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.menu-button .label {
    -fx-text-fill: #ffffff;

    -fx-font-size: 20px;
}

.menu-button .menu-item:focused {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-background-radius: 5px;
}

.menu-button .menu-item .accelerator-text {
    -fx-padding: 0px 0px 0px 30px;
}

.menu-button .menu-item .label {
    -fx-text-fill: linear-gradient(to top right, #00d755, #00a3d7);

    -fx-font-size: 16px;
}

.menu-button .menu-item:focused .label {
    -fx-text-fill: #ffffff;
}

.progress-bar {
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 2;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-background-radius: 10px;
}

.progress-bar .track {
    -fx-background-radius: 10px;

    -fx-border-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-border-radius: 10px;
}

.radio-button {
    -fx-font-family: Oswald;
    -fx-font-size: 16px;
}

.radio-button:hover,
.radio-button:selected {
    -fx-text-fill: linear-gradient(to top right, #00d755, #00a3d7);
}

.radio-button:selected .dot {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-background-insets: 0px;
}

.radio-button:hover .radio,
.radio-button:selected .radio {
    -fx-border-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-border-insets: -1px;
    -fx-border-radius: 100px;
}

.spinner {
    -fx-font-family: Oswald;
    -fx-font-size: 16px;
}

.spinner:focused {
    -fx-border-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-border-insets: -1px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: linear-gradient(to top right, #00d755, #00a3d7);
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #ffffff;
}

.table-view:focused {
    -fx-border-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-border-insets: -1px;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to top right, #00d755, #00a3d7);
}

.table-view:focused .column-header {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
}

.table-view .column-header .arrow {
    -fx-background-color: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
}

.table-view:focused .label {
    -fx-text-fill: linear-gradient(to top right, #00d755, #00a3d7);
}

.table-view .table-row-cell {
    -fx-font-family: Oswald;
    -fx-font-size: 16px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: linear-gradient(to top right, #00d755, #00a3d7);
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
}

.titled-pane .content {
    -fx-background-color: #ffffff;
}

.titled-pane .title {
    -fx-background-color: linear-gradient(to top right, #00d755, #00a3d7);
}

.titled-pane:focused .title {
    -fx-background-color: linear-gradient(to top right, #00ff64, #00c2ff);
}

.titled-pane .title .text {
    -fx-fill: #ffffff;

    -fx-font-family: Oswald;
    -fx-font-size: 16px;
}

.tooltip {
    -fx-background-color: #000000;
    -fx-background-radius: 6px;

    -fx-border-color: linear-gradient(to top right, #00ff64, #00c2ff);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;

    -fx-text-fill: #ffffff;

    -fx-font-family: Oswald;
    -fx-font-size: 16px;
}

/*
Dark colors
    green: #00d755
     blue: #00a3d7
    linear-gradient(to top right, #00d755, #00a3d7)

Light colors
    green: #00ff64
     blue: #00c2ff
    linear-gradient(to top right, #00ff64, #00c2ff)
*/